<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8">
    <%= image_tag 'banner.png', :style => "width: 100%; display: block; margin: 0 auto;" %>
    </div>
  </div>
  <%# des %>
  <div style="margin-top: 30px" class="row justify-content-lg-center">
    <div class="col-12 col-lg-8">
      <p class="content"><%= t('end') %></p>
    </div>
  </div>
