a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem; }

p.content {
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang TC", "PingFang SC", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #616161; }

p.date {
  margin: 0px;
  font-size: 12px;
  line-height: 2.66;
  letter-spacing: 1px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang TC", "PingFang SC", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  text-transform: uppercase;
  color: #616161; }

p.title {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.334;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang TC", "PingFang SC", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden; }

.btn-color {
  background-color: #D2B48C;
  width: 100%;
  margin: 5px 0;
  border: #D2B48C;
  text-align: left;
  padding-left: 50px;
  --bs-btn-hover-bg: #A6A6A6; }
